global:
  smtp_smarthost: 'smtp.example.com:587'
  smtp_from: 'jarvis-alerts@tktm.ma'
  smtp_auth_username: 'alerts@tktm.ma'
  smtp_auth_password: 'password'

route:
  group_by: ['alertname', 'severity']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  receiver: 'default'
  routes:
    - match:
        severity: critical
      receiver: 'critical'
      group_wait: 10s
    - match:
        severity: warning
      receiver: 'warning'

receivers:
  - name: 'default'
    email_configs:
      - to: 'ops@tktm.ma'

  - name: 'critical'
    email_configs:
      - to: 'admin@tktm.ma'
        send_resolved: true
    # webhook_configs:
    #   - url: 'https://hooks.slack.com/services/xxx'

  - name: 'warning'
    email_configs:
      - to: 'ops@tktm.ma'
        send_resolved: true

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname']
